<div class="container">
  <h1>Login Form</h1>
  <form>
    <div class="form-group">
      <label for="login">email</label>
      <input
        type="text"
        class="form-control"
        id="login"
        [(ngModel)] = "userLogin"
        name="login"
        required>
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)] = "userPassword"
        name="password"
        id="password">
    </div>

    <button
      type="login"
      (click) = "onLogin()"
      class="btn btn-success">Submit</button>
  </form>
</div>
